CREATE TABLE {{.EventTable}} (
    id bigint NOT NULL auto_increment PRIMARY KEY,
    event_id varchar(255) NOT NULL,
    aggregate_id varchar(255) NOT NULL,
    aggregate_type varchar(255) NOT NULL,
    revision integer NOT NULL,
    timestamp bigint NOT NULL,
    event_type varchar(255) NOT NULL,
    event_data blob,
    CONSTRAINT {{.EventTable}}_event_id_uindex UNIQUE(event_id),
    CONSTRAINT {{.EventTable}}_aggregate_revision_uindex UNIQUE (aggregate_id, revision)
);

CREATE INDEX {{.EventTable}}_aggregate_id_idx ON {{.EventTable}} (aggregate_id);
CREATE INDEX {{.EventTable}}_aggregate_type_idx ON {{.EventTable}} (aggregate_type);
CREATE INDEX {{.EventTable}}_event_type_idx ON {{.EventTable}} (event_type);

CREATE TABLE {{.SnapshotTable}} (
    id bigint NOT NULL AUTO_INCREMENT PRIMARY KEY,
    aggregate_id varchar(255) NOT NULL,
    aggregate_type varchar(255) NOT NULL,
    aggregate_version integer NOT NULL,
    revision integer NOT NULL,
    timestamp bigint NOT NULL,
    snapshot_data blob
);

CREATE TABLE {{.AggregateTable}} (
    id bigint NOT NULL AUTO_INCREMENT PRIMARY KEY,
    aggregate_id VARCHAR(255) NOT NULL,
    aggregate_type VARCHAR(255) NOT NULL
    inserted_at bigint NOT NULL,
    constraint aggregate_aggregate_id_aggregate_type_uindex
        unique(aggregate_id, aggregate_type)
);